nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 10px;
    padding: 5px;
}
nav li:hover{
    background-color: burlywood;
}

nav li a {
    text-decoration: none;
    color: blue;
}

/* nested menu styles */

nav li .dropdwon{
    display: none;
    position: absolute;
    background-color: bisque;
    padding-left: 10px;

}
nav li:hover >.dropdwon{
    display: block;
}